body {
    margin: 30px 4%;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    color: #00ff00;
}

#main {
    max-width: 800px;
    margin: 0px auto;
    position: relative;
}

#title a {
    color: inherit;         
    text-decoration: none;   
}

.header-controls {
    display: flex;
    position: fixed;
    top: 10px; 
    right: 10px; 
    gap: 10px;
    z-index: 100;
    padding: 5px;
    border-radius: 5px; 
}
.header-controls button,
.header-controls .language-select {
    font-size: 16px;
}

#title {
    margin-bottom: 3px;
}

#subtitle {
    margin-bottom: 6px;
}

#description {
    min-height: 180px;
}

a:link {
    color: #e341f7;
}

a:visited {
    color: #6ceff3;
}

hr {
    margin: 1em 0;
    border-color: #00ff00;
}

.content {
    display: none;
    margin-left: 15px;
}

.large-text {
    font-size: 40px;
}

.normal-text {
    font-size: 24px;
}

.small-text {
    font-size: 18px;
}

.collapsible {
    cursor: pointer;
    user-select: none; 
    display: block;
    position: relative;
    padding-left: 40px;
}

.collapsible::before {
    content: '[+]';
    position: absolute;
    left: 0;
}

.collapsible.active::before {
    content: '[-]';
}

