body {
    margin: 30px 4%;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    color: #00ff00;
}

#title {
    margin-bottom: 3px;
}

#subtitle {
    margin-bottom: 6px;
}

#description {
    min-height: 180px;
}

hr {
    margin: 1em 0;
    border-color: #00ff00;
}

a:link {
    color: #e341f7;
}

a:visited {
    color: #6ceff3;
}

#main {
    max-width: 800px;
    margin: 0px auto;
}

.large-text {
    font-size: 40px;
}

.normal-text {
    font-size: 24px;
}

.small-text {
    font-size: 18px;
}

.content {
    display: none;
    margin-left: 15px;
}

/* Estilos para los elementos que son colapsibles */
.collapsible {
    cursor: pointer;
    user-select: none; /* Evita la selección de texto accidental */
    display: block; /* Asegura que cada título esté en su propia línea */
    position: relative; /* Permite posicionar el símbolo a la izquierda */
    padding-left: 40px; /* Deja espacio para el símbolo a la izquierda */
}

.collapsible::before {
    content: '[+]'; /* Mostrar el símbolo de colapsado */
    position: absolute; /* Posicionar el símbolo de manera independiente */
    left: 0; /* Alinearlo a la izquierda */
}

.collapsible.active::before {
    content: '[-]'; /* Cambiar el símbolo cuando se expanda */
}
