.language-select {
    color: #00ff00;
    position: relative;
}

.language-select .selected-language {
    background-color: black;
    color: #00ff00;
    border: 1px solid #00ff00;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 18px;
}

.language-select .dropdown {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: black;
    border: 1px solid #00ff00;
    z-index: 1000;
    width: auto;
    white-space: nowrap;
}

.language-select .dropdown .dropdown-item {
    padding: 5px 10px;
    cursor: pointer;
    border-bottom: 1px solid #00ff00;
    background-color: black; 
    color: #00ff00;
}

.language-select .dropdown .dropdown-item:last-child {
    border-bottom: none;
}

.language-select .dropdown .dropdown-item:hover {
    background-color: #00ff00;
    color: black;
}

.language-select.open .dropdown {
    display: block;
}

body.light-mode .header-controls .language-select {
    color: #2380ba;
}

body.light-mode .header-controls .language-select .selected-language {
    background-color: #2380ba; 
    color: #f9f8f4;
    border: 1px solid #2380ba;
}

body.light-mode .header-controls .language-select .dropdown {
    background-color: #f9f8f4;
    border: 1px solid #2380ba;
    width: auto;
    white-space: nowrap;
}

body.light-mode .header-controls .language-select .dropdown .dropdown-item {
    background-color: #f9f8f4;
    color: #2380ba; 
    border-bottom: 1px solid #2380ba; 
}

body.light-mode .header-controls .language-select .dropdown .dropdown-item:hover {
    background-color: #2380ba; 
    color: #f9f8f4; 
}

body.dark-mode .header-controls .language-select {
    color: #00ff00;
}

body.dark-mode .header-controls .language-select .selected-language {
    background-color: black;
    color: #00ff00;
    border: 1px solid #00ff00;
}

body.dark-mode .header-controls .language-select .dropdown {
    background-color: black;
    border: 1px solid #00ff00;
    width: auto;
    white-space: nowrap;
}

body.dark-mode .header-controls .language-select .dropdown .dropdown-item {
    border-bottom: 1px solid #00ff00;
}

body.dark-mode .header-controls .language-select .dropdown .dropdown-item:hover {
    background-color: #00ff00;
    color: black;
}
